body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font: 16px calibri;
}

header, main, footer {
    padding: 10px 50px;
}

header, footer {
    background-color: #333;
    color: #fff;
}

main {
    flex: 1 1 auto;
}

.photos {
    display: flex;
}

.photos img {
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    margin: 0 10px 10px 0;
}