<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/app.css">
    <title>Google Maps JS API</title>
    <style> 
        main {
            display: grid;
        }
        
        #map {
            border: 1px solid #333;
        }

        #panel {
            background-color: #fff;
            border: 1px solid #999;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
            font-size: 16px;
        }

        #panel img {
            width: 24px;
        }

        #panel * {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href="index.html">Demo13 : Mini Map Game</a></h1>
    </header>

    <nav>
        <a href="demo1.html">Demo1</a>
        <a href="demo2.html">Demo2</a>
        <a href="demo3.html">Demo3</a>
        <a href="demo4.html">Demo4</a>
        <a href="demo5.html">Demo5</a>
        <a href="demo6.html">Demo6</a>
        <a href="demo7.html">Demo7</a>
        <a href="demo8.html">Demo8</a>
        <a href="demo9.html">Demo9</a>
        <a href="demo10.html">Demo10</a>
        <a href="demo11.html">Demo11</a>
        <a href="demo12.html">Demo12</a>
        <a href="demo13.html">Demo13</a>
    </nav>

    <!-- Vue ----------------------------------------------------------------->
    <main id="app" v-cloak>
        <div id="map"></div>
        
        <div hidden>
            <div id="panel">
                <div v-for="m of markers">
                    <img :src="m.icon">
                    <span v-if="m.found">Found</span>
                    <span v-else>{{ m.distance | number(0) }} meters</span>
                </div>
            </div>
        </div>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=geometry"></script>
    <script src="js/jquery.slim.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
    <script>
        // ====================================================================
        // Vue
        // ====================================================================
        
        // TODO(6): Audio files
        const audio1 = new Audio('audio/1.mp3');
        const audio2 = new Audio('audio/2.mp3');

        const vm = new Vue({
            el: '#app',
            data: {
                markers: [],
                win: false,
                step: 0
            },
            methods: {
                move(x, y) {
                    // TODO(4): Pan the map (move the player)
                    //          Prevent moving out of bounds
                    let c1 = map.getCenter();
                    map.panBy(x * 10, y * 10);
                    let c2 = map.getCenter();

                    if (bounds.contains(c2)) {
                        player.setPosition(c2);
                    }
                    else {
                        map.setCenter(c1);
                    }

                    // TODO(5): Update marker's distance and visibility
                    for (let m of vm.markers.filter(m => !m.found)) {
                        let a = player.getPosition();
                        let b = m.getPosition();
                        m.distance = gm.geometry.spherical.computeDistanceBetween(a, b);

                        // TODO
                        if (m.distance < 10) {
                            audio1.play();
                            m.found = true;
                            m.setVisible(false);
                        }
                    }
                    
                    // TODO(7): If all markers (hearts) found, alert and reload
                    //          You found all hearts ❤️ !!!
                    if (vm.markers.every(m => m.found) && vm.win == false) {
                        vm.win = true;
                        setTimeout(() => {
                            audio2.play();
                            alert(`You found all hearts ❤️ !!! (${vm.step}) steps`);
                            location = location;
                        }, 1000);
                    }
                }
            },
            mounted() {
                
                // TODO(3): Handle keydown event, call vm.move(x, y) accordingly
                //          e.key or e.code = ArrowLeft, ArrowRight, ArrowUp, ArrowDown
                $(document).keydown(e => {
                    if (vm.win) return;

                    vm.step++;

                    switch (e.key) {
                        case 'ArrowLeft' : vm.move(-1, 0); break;
                        case 'ArrowRight': vm.move(+1, 0); break;
                        case 'ArrowUp'   : vm.move(0, -1); break;
                        case 'ArrowDown' : vm.move(0, +1); break;
                    }
                });

            }
        });

        // Google Maps --------------------------------------------------------
        const gm = google.maps; 

        const center = new gm.LatLng(3.215000, 101.730000);

        const map = new gm.Map($('#map')[0], {
            center,
            zoom: 18,
            disableDefaultUI: true,
            clickableIcons: false,
            // TODO(8): Disable gesture handling (zoom, pan, etc)
            gestureHandling: 'none'
        });

        const panel = $('#panel')[0];
        map.controls[gm.ControlPosition.TOP_LEFT].push(panel);

        const player = new gm.Marker({
            position: center,
            map,
            icon: 'image/player.gif',
            animation: gm.Animation.DROP
        });

        // TODO(1): Calculate bounds & draw rectangle
        // NOTE: Position used must be LatLng object
        const sw = gm.geometry.spherical.computeOffset(center, 2000, 225);
        const ne = gm.geometry.spherical.computeOffset(center, 2000,  45);
        const bounds = new gm.LatLngBounds(sw, ne);
        const rect = new gm.Rectangle({
            map,
            bounds,
            strokeColor:'red',
            strokeWeight: 10,
            fillOpacity: 0
        })
                
        gm.event.addListenerOnce(map, 'bounds_changed', e => {
            let images = ['red', 'green', 'blue'];
            
            // TODO(2): Drop markers (hearts) on map within the bounds (random position)
            let sp = bounds.toSpan();
            for (let img of images) {
                let p = {
                    lat: sw.lat() + sp.lat() * Math.random(),
                    lng: sw.lng() + sp.lng() * Math.random()
                };
                addMarker(p, img);
            }

            vm.move(0, 0);
        });

        function addMarker(position, image) {
            let m = new gm.Marker({
                map,
                position,
                icon: `image/h/${image}.png`,
                distance: 0, // Custom property
                found: false // Custom property
            });

            vm.markers.push(m);
        }
    </script>
</body>
</html>